@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login - Student Management System</title>

    <!-- Styles only for the login page -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Login/css/style.css">
</head>
<body class="img js-fullheight" style="background-image: url('/Login/images/bg.jpg'); overflow: hidden;">
    @Body
    <!-- Scripts only for the login page -->
    <script src="/Login/js/jquery.min.js"></script>
    <script src="/Login/js/popper.js"></script>
    <script src="/Login/js/bootstrap.min.js"></script>
    <script src="/Login/js/main.js"></script>
</body>
</html>
