@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register - Student Management System</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <style>
        .card-registration .form-label,
        .form-control-lg {
            font-weight: 200; /* Adjust font weight */
            color: #000; /* Ensure dark color for text */
            opacity: 1; /* Ensure full opacity */
        }
        .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
        }

        .card-registration h3 {
            font-weight: 700; /* Bold font for better visibility */
            color: #000; /* Dark color to make it stand out */
        }

        .card-registration .select-arrow {
            top: 13px;
        }
    </style>
</head>
<body class="overflow: hidden;">
    @Body
   
</body>
</html>