@page "/subject/delete/{id:int}"
@using StudentsManagement.Shared.Models
@inject NavigationManager navigation;
@rendermode InteractiveServer

<h3>Delete Subject Detail</h3>

<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Subject Name</th>
                <td>@subjectobj.Name</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>@subjectobj.Description</td>
            </tr>
            <tr>
                <th>Created By</th>
                <td>@subjectobj.CreatedById</td>
            </tr>
            <tr>
                <th>Created On</th>
                <td>@subjectobj.CreatedOn.ToShortDateString()</td>
            </tr>
        </table>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" @onclick="Delete">Delete Subject</button>
        <button type="button" @onclick="()=>Cancel()" class="btn btn-danger">Cancel</button>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public Subject subjectobj { get; set; } = new();

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadSubject();
    }

    private async Task LoadSubject()
    {
        subjectobj = await SubjectService.GetByIdAsync(id);
    }

    protected async Task Delete()
    {
        var result = await SubjectService.DeleteAsync(id);
        navigation.NavigateTo("/subjects-list");
    }

    public void Cancel()
    {
        navigation.NavigateTo("/subjects-list");
    }
}
