@page "/department/delete/{id:int}"
@using StudentsManagement.Shared.Models
@inject NavigationManager navigation;
@rendermode InteractiveServer

<h3>Delete Department Detail</h3>

<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Department Code</th>
                <td>@departmentobj.Code</td>
            </tr>
            <tr>
                <th>Department Name</th>
                <td>@departmentobj.Name</td>
            </tr>
            <tr>
                <th>Created By</th>
                <td>@departmentobj.CreatedById</td>
            </tr>
            <tr>
                <th>Created On</th>
                <td>@departmentobj.CreatedOn.ToShortDateString()</td>
            </tr>
        </table>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" @onclick="Delete">Delete Department</button>
        <button type="button" @onclick="()=>Cancel()" class="btn btn-danger">Cancel</button>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public Department departmentobj { get; set; } = new();

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadDepartment();
    }

    private async Task LoadDepartment()
    {
        departmentobj = await DepartmentService.GetByIdAsync(id);
    }

    protected async Task Delete()
    {
        var result = await DepartmentService.DeleteAsync(id);
        navigation.NavigateTo("/departments-list");
    }

    public void Cancel()
    {
        navigation.NavigateTo("/departments-list");
    }
}
