@page "/systemCode/delete/{id:int}"
@using StudentsManagement.Shared.Models
@inject NavigationManager navigation;
@rendermode InteractiveServer

<h3>Delete System Code</h3>

<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>System Code</th>
                <td>@systemCodeObj.Code</td>
            </tr>
            <tr>
                <th>System Code Description</th>
                <td>@systemCodeObj.Description</td>
            </tr>
        </table>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" @onclick="Delete">Delete System Code</button>
        <button type="button" @onclick="()=>Cancel()" class="btn btn-danger">Cancel</button>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public SystemCode systemCodeObj { get; set; } = new();

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadSystemCode();
    }

    private async Task LoadSystemCode()
    {
        systemCodeObj = await SystemCodeService.GetByIdAsync(id);
    }

    protected async Task Delete()
    {
        var result = await SystemCodeService.DeleteAsync(id);
        navigation.NavigateTo("/systemCodes-list");
    }

    public void Cancel()
    {
        navigation.NavigateTo("/systemCodes-list");
    }
}
